:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --studio-color: #2e2f42;
  --studio-color-second: #f4f4fd;
  /* #434455 */
  --social-link-hover: #404bbf;
  --footer-social-hover: #31d0aa;
  --overlay-on-page: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* container */
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header */

.page-header {
  display: flex;
  align-items: center;
  height: 70px;
  padding-top: 24px;
  padding-bottom: 22px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  display: none;
}

.adr {
  display: none;
}
.logo-first {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.color {
  color: var(--studio-color);
}

/* header menu mobile */
.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu-open-btn-icon {
  stroke: #2e2f42;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}
/* menu mobile */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container {
  position: relative;
}
.mobile-menu-close-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 8px;
  width: 24px;
  height: 24px;
  stroke: #2e2f42;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #2e2f42;

  transition: var(--overlay-on-page);
}

.mobile-menu-close-icon:hover,
.mobile-menu-close-icon:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.mobile-icon-use {
}
.menu-container {
  height: 796px;
}

.navigation-menu-mobile {
  padding-top: 80px;
  padding-left: 24px;
}

.nav-header-mobile {
  display: grid;
  gap: 40px;
  padding-bottom: 284px;
}
.nav-name-mobile {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  transition: var(--overlay-on-page);
}

.nav-name-mobile:hover,
.nav-name-mobile:focus {
  color: var(--accent-color);
}

.contacts-menu-mobile {
  padding-left: 24px;
  padding-bottom: 48px;
}

.adr-list-menu-mobile {
  display: grid;
  gap: 40px;
}

.header-mobile-tel {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.header-mobile-mail {
  width: 192px;
  height: 24px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
