:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --studio-color: #2e2f42;
  --studio-color-second: #f4f4fd;
  /* #434455 */
  --social-link-hover: #404bbf;
  --footer-social-hover: #31d0aa;
  --overlay-on-page: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* componenets */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

/* components */

/* navigation */

.page-header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  gap: 40px;
}

.logo-first {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.color {
  color: var(--studio-color);
}

/* hover-nav */

.nav-name:hover,
.nav-name:focus {
  color: var(--accent-color);
}

.nav-name {
  width: 67px;
  height: 24px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;

  transition: color var(--overlay-on-page);
}
.header-nav-adr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color var(--overlay-on-page);
}
.header-nav-adr:hover,
.header-nav-adr:focus {
  color: var(--accent-color);
}
.adr {
  font-style: normal;
}
.adr {
  margin-left: auto;
}

.adr-list {
  display: flex;
  gap: 40px;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

/* hero */

.hero {
  background: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/goit-markup-hw-01/bg/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1440px;
  background-size: cover;
}

.hero-screen {
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 48px auto 0;

  transition: background-color var(--overlay-on-page);
}

.hero-btn-order:hover,
.hero-btn-order:focus {
  background: #4d5ae5;
  background-color: #404bbf;
}

/* section1 */

.feature {
  outline: 1px solid tomato;
  padding: 120px 0;
}

.feature-list-text {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-list-svg {
  height: 112px;

  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.svg-icons-feature {
}

/* section2 */

.presentation {
  outline: 1px solid tomato;
  padding-bottom: 120px;
}

.presentation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.presentation-list {
  display: flex;

  gap: 24px;
}

.presentation-list-item {
  width: calc((100% - 48px) / 3);
}

/* section3 */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-member-container {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% -72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-member-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.profession-member-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.name-team-text {
  border: 1px solid transparent;
  border-top: none;
  padding: 32px 0;
}
.team-social-link {
  padding: 32px 0;
}
.social-link-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.social-icon-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--overlay-on-page);
}
.social-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--social-link-hover);
}

/* section4 */

.company {
  padding: 120px 0;
}

.client-section {
  /* padding-top: 120px; */
  /* padding-bottom: 120px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.client-list {
  display: flex;
  gap: 24px;
}

.client-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.client-item-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;

  transition: border-color var(--overlay-on-page), color var(--overlay-on-page);
}

.client-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.client-item-link:hover,
.client-item-link:focus {
  border-color: var(--social-link-hover);
  color: #404bbf;
}

/* footer */

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-div-logo {
  margin-right: 120px;
}

.logo-in-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.studio-color-second {
  color: var(--studio-color-second);
}

.marketing-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  width: 264px;
}
.footer-conteiner {
  background: #2e2f42;
  padding: 100px 0;
}
/* footer social link */

.footer-social-section {
}

.footer-social-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--overlay-on-page);
}

.footer-social-svg {
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--footer-social-hover);
}
/* footer form */

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background: #2e2f42;
  background-color: transparent;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-form-svg {
  margin-left: 16px;
}

/* page portfolio */
/* page portfolio */
/* page portfolio */

.main-btn-list-portfolio {
  padding: 96px 0 120px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.name-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--overlay-on-page),
    background-color var(--overlay-on-page), border-color var(--overlay-on-page),
    box-shadow var(--overlay-on-page);
}

.name-btn-portfolio:hover,
.name-btn-portfolio:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-container {
  background: #ffffff;
}

.development-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.type-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--overlay-on-page);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* overlay portfolio */

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow: auto;

  transform: translateY(100%);

  transition: transform var(--overlay-on-page);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}
/* page portfolio */
/* page portfolio */
/* page portfolio */

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--overlay-on-page), visibility var(--overlay-on-page);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--overlay-on-page);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;

  transition: background-color var(--overlay-on-page),
    border var(--overlay-on-page);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill var(--overlay-on-page);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* form */

.form-modal-title {
  width: 360px;
  height: 24px;
  left: 540px;
  top: 152px;
  margin-bottom: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-form {
}

.form-input-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-div-input {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--overlay-on-page);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--overlay-on-page);
}

.form-icon-use {
  width: 18px;
  height: 18px;
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-textarea-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);

  transition: border-color var(--overlay-on-page);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color var(--overlay-on-page),
    border var(--overlay-on-page), fill var(--overlay-on-page);
}

.checkbox:checked + .checkbox-label > .form-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.checkbox:focus + .checkbox-label > .form-checkbox-span > .checkbox-svg {
  outline: 1px solid #404bbf;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  height: 56px;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  transition: background-color var(--overlay-on-page);
}

.form-a {
  color: #4d5ae5;
}
